h1 {
  text-align: center;
  font-size: 2rem;
}

.header-dark {
  position: sticky;
  top: 0;
  left: 0;
  background: #000;
  height: 44px;
  width: 100%;
  transition: background .3s ease-out;
  display: flex;
  justify-content: center;
}

.header-light {
  position: sticky;
  top: 0;
  left: 0;
  background: rgb(51, 51, 51);
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: background .3s ease-out;
}

nav {
  display: flex;
  max-width: 1070px;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  color: lightgrey;
}

i {
  color: white;
}

.subnav {
  padding: 12px 0;
  height: 92px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-items: center;
}

.mac {
  background: rgb(20, 20, 20);
  color: white;
}

.ipad {
  background: #f6f6f6;
  color: #141414;
}

.watch {
  background: white;
  color: #141414;
}

.maccontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-items: center;
  width: 60%;
  margin: 0 auto;
}

.ipadcontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-items: center;
  width: 40%;
  margin: 0 auto;
}

.iphonecontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-items: center;
  width: 50%;
  margin: 0 auto;
}

.product {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.product img {
  height: 54px;
  width: auto;
}

.product p {
  font-size: 11px;
  width: 80px;
  line-height: 1.09091;
  text-align: center;
  letter-spacing: -.006em;
}

img:hover {
  fill: red;
}

.newProduct {
  position: absolute;
  bottom: -15px;
  color: #f46c0e
}

.ipadcontainer .newProduct {
  position: absolute;
  bottom: -15px;
  color: #e85d00;
}

.watchcontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-items: center;
  width: 50%;
  margin: 0 auto;
}

.watchcontainer .newProduct {
  position: absolute;
  bottom: -20px;
  color: #e85d00;
}

#hamburger {
  display: none;
}

@media (max-width: 768px) {
  nav {
    justify-content: space-between
  }
  nav a {
    display: none
  }
  #search {
    display: none;
    height: 18px;
    width: auto;
  }
  #apple-link {
    display: block;
  }
  #apple-link-expanded {
    display: block;
    justify-self: center;
  }
  #apple-expanded {
    width: auto;
  }
  #hamburger {
    display: block;
    height: 18px;
    width: auto;
    margin: 0 20px;
  }
  #hamburger-expanded {
    position: absolute;
    top: 15px;
    left: 20px;
  }
  #bag {
    height: 50px;
    width: auto;
    margin: 5px 20px 0px;
  }
  #header-expanded {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    transition: all .3s ease-out;
    height: 100vh;
    width: 100%;
    z-index: 1000;
  }
  .nav-expanded {
    height: 40px;
    display: flex;
    justify-content: center;
    align-item: center;
  }
  .search-input {
    height: 36px;
    width: 90%;
    border: none;
    color: rgb(153, 153, 153);
    font-size: 17px;
    background-color: #333;
    padding: 0 8px;
    border-radius: 2px;
    margin: 15px 0 0;
  }
  .expanded-menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: white;
    height: 100%;
  }
  .expanded-menu ul {
    border-top: 1px solid RGB(40, 40, 40);
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 17px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding-inline-start: 0;
  }
  .expanded-menu a {
    padding: 15px 0;
    font-size: 17px;
    border-bottom: 1px solid RGB(40, 40, 40);
    width: 80%
  }
}