h1 {
  text-align: center;
  font-size: 2rem;
}

.header-dark {
  background: #000;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in;
}

.header-light {
  background: rgb(51, 51, 51);
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in;
}

nav {
  display: flex;
  width: 69%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  color: lightgrey;
}

i {
  color: white;
}

#apple {
  font-size: 25px;
}

.subnav {
  padding: 12px 0;
  height: 92px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-items: center;
}

.mac {
  background: rgb(20, 20, 20);
  color: white;
}

.ipad {
  background: #f6f6f6;
  color: #141414;
}

.watch {
  background: white;
  color: #141414;
}

.maccontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-items: center;
  width: 60%;
  margin: 0 auto;
}

.ipadcontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-items: center;
  width: 40%;
  margin: 0 auto;
}

.iphonecontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-items: center;
  width: 50%;
  margin: 0 auto;
}

.product {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.product img {
  height: 54px;
  width: auto;
}

.product p {
  font-size: 11px;
  width: 80px;
  line-height: 1.09091;
  text-align: center;
  letter-spacing: -.006em;
}

img:hover {
  fill: red;
}

.newProduct {
  position: absolute;
  bottom: -15px;
  color: #f46c0e
}

.ipadcontainer .newProduct {
  position: absolute;
  bottom: -15px;
  color: #e85d00;
}

.watchcontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-items: center;
  width: 50%;
  margin: 0 auto;
}

.watchcontainer .newProduct {
  position: absolute;
  bottom: -20px;
  color: #e85d00;
}